<!-- password_reset_request.html -->
{% extends "base.html" %}
{% block content %}
<div class="content-wrapper">
    <div class="card card-dark col-8 mt-5 mx-5">
        <div class="col-4">
            <h1 class="login-box-msg">Reset Password</h1>
        </div>
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="id_user_name">Username or Email</label>
                    {{ form.user_name }}
                </div>
                <button type="submit" class="btn btn-primary">Reset Password</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
